<%# SHOW.ERB
This will contain the logged in user's bucket list of items
Login and signup redirect the user here %>

<h3><%= @user.name.capitalize %>, here is your bucket list!</h3>

<%# List of User's Items will be listed here %>

<% @user.items.each do |i|%>
  <h5><%= i.title %></h5>
  <p><%= i.description %></p>
  <p></p><%= i.created_at%></p>
<% end %>