<h4>Please enter your details below to Sign Up:</h4>
</br>

<form action="/users" method="POST">
  <label for="name">Name: </label>
  <input type="text" name="name">
  </br>
  <label for="username">Username: </label>
  <input type="text" name="username">
  </br>
  <label for="email">Email: </label>
  <input type="text" name="email">
  </br>
  <label for="password">Password: </label>
  <input type="password" name="password">
  <br></br>
  <input type="submit" value="Sign Up">
</form>
</br>

<div>
  <small><a href="/">Back to Home Page</a></small>
</div>  